<div class="content">
  <div class="container">
    <span>Encontre cooperativas e faça bons negócios!</span>
  </div>
</div>

<div class="container">

  <div class="search">
    <%= material_list %>
  </div>
</div>
