<div class="container">
  <div class="content">
    <span></span>
  </div>

  <div class="search">
    <div class="material-list">
      <%= material_list %>
    </div>

    <div class="material-submit">
      <button class="search-button" data-submit>Procurar</button>
    </div>
  </div>

  <%= form_tag('/materiais', method: :get) do %>
    <%= hidden_field_tag(:material) %>
  <% end %>
</div>
