<div class="content">
  <div class="container">
    <span>Como podemos melhorar o processo de reciclagem!</span>
  </div>
</div><br><br>

<div class="select">
  <div class="container">
    Filtrar por material:

    <select name="" id="">
      <option value="integrado">Integrado</option>
      <option value="plastico">Plástico</option>
      <option value="vidro">Vidro</option>
      <option value="aluminio">Alumínio</option>
      <option value="tetrapack">Tetrapack</option>
      <option value="papel">Papel</option>
      <option value="outros">Outros</option>
    </select>
  </div>
</div>

<div class="container">
  <div id="container" style="min-width: 310px; height: 400px; max-width: 100%; margin: 0 auto"></div>
</div>
