<header>
  <div class="logo">
    <figure>
      <%= image_tag '', alt: 'Logo do DestinoCerto', title: 'DestinoCerto' %>
    </figure>
  </div>

  <div class="menu">
    <ul>
      <li><a href="signup">Sou uma cooperativa, quero participar!</a></li>
    </ul>
  </div>
</header>
